Django
python-dotenv
python-decouple
python-magic
ExifRead
Pillow
Clamd
PyPDF2
Ffmpeg-python
Oletools
PyYAML

Pdfid >= 1.0.5      # Minimum version since it introduces analyzing PDFs from file-like streams